<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>Lista de Usuários</title>
	<link rel="stylesheet" th:href="@{/css/base.css}">
	<link rel="stylesheet" th:href="@{/css/layout.css}">
	<link rel="stylesheet" th:href="@{/css/components.css}">
</head>
<body>
		
	<header th:replace="~{fragments/util :: cabecalho}"></header>
		
	<main class="conteudo-principal">
		<h2>Lista de Usuários</h2>
		<div class="tabela-container">
			<table>
				<thead>
					<tr>
						<th>Username</th>
						<th>Ações</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="u : ${listaU}">
						<td th:text="${u.username}"></td>
						<td>
						<a th:href="@{/usuario/editar(id=${u.id})}" class="btn-editar">Editar</a>
					</tr>
				</tbody>
			</table>
		</div>
	</main>
	
	<footer th:replace="~{fragments/util :: rodape}"></footer>
</body>
</html>

